html,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #8E7AB5;
}

.taskShow{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffffd7;
  border: none;
  color: black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 1em;
  margin-bottom: 5px;
  
  font-weight: 300;
}

.card p {
  margin-bottom: 15px;
 
}

.card button {
  background-color:rgb(162, 84, 162);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #dd47cc;
}


.taskCard{
  display: flex;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h2{
  margin-top: 12px;
  color: rgb(255, 255, 255);
}